h1 {
    font-family: "Trebuchet MS", Times, serif;
    font-size: 45px;
    text-decoration-line: underline;
}

h2 {
    font-family:"Trebuchet MS", Times, serif;
    font-size: 35px;
    font-weight: 100;
    color: orange;
}


h3 {
    font-family: "Trebuchet MS", Times, serif;
    font-size: 20px;
    border-bottom: solid orange 2px;    
    text-align: left;
    color: white;
    background-color: orange;
    padding-left: 10px !important;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-collapse: collapse;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    text-decoration: underline;
}

td {
    font-family: "Trebuchet MS", Times, serif;
    font-size: 14px;
    font-weight: 500;
    color: #636669;
    text-align: left;
    padding: 8px;
    margin: 0px 0px 0px 0px;
    padding-bottom: 10px !important;
}

table {
    border-spacing: 0px;
}

table.info {
    box-shadow: 10px 5px 5px silver;
}

body {
    background-color: white;
}

a {
    font-size: 17px;
    border-spacing: 100px;
    font-family: "Trebuchet MS", Times, serif;
    text-decoration: none;
    color: black;
}
td.Ü1 {
background-color: orange;
    color: white;
    padding-left: 10px;
}

th.Ü2 {
    border-top: solid orange 2px;
}

th.Ü1 {
    background-color: orange;
    border-top: solid white 2px;
    border-right: solid orange 2px;
}

th.daten {
    border-top: solid orange 2px !important;
}
